.add-to-cart:hover {
  background-color: rgb(243, 243, 243);
  color: black;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.spesifikasi-produk table td {
  padding-left: 120px;
}

.user-comment .details p {
  margin: 0;
}

.user-comment .details p.tanggal {
  font-size: 12px;
}

.star-display {
  display: inline-block;
  font-size: 24px;
  font-family: sans-serif;
  line-height: 1;
  position: relative;
  color: #e0e0e0;
}

.star-display::before {
  content: '★★★★★';
  letter-spacing: 2px;
}

.star-display::after {
  content: '★★★★★';
  letter-spacing: 2px;
  position: absolute;
  left: 0;
  top: 0;
  width: var(--rating-width);
  overflow: hidden;
  color: #ffcc00;
  white-space: nowrap;
}

.rating-product {
  font-size: 32px;
  color: #fca903;
}

.rating {
  font-size: 32px;
  font-weight: 500;
}

.btn-favorit {
  border: none;
}

.btn-favorit:focus,
.btn-favorit:active {
  outline: none;
  box-shadow: none;
}
