.add-to-cart:hover {
  background-color: rgb(243, 243, 243);
  color: black;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.product-spec tr td {
  padding-right: 80px;
}
