.sidebar {
  width: 0;
  opacity: 0;
  height: 100vh;
  position: fixed;
  top: 85px;
  left: 0;
  overflow-y: auto;
  transition: all 0.3s ease-in-out;
  background-color: white;
  flex-shrink: 0;
}

.sidebar.open {
  width: 250px;
  opacity: 1;
}

.list-group-item {
  color: black;
}

.list-group-item:hover {
  background-color: #595858;
  color: white;
  cursor: pointer;
}
