<div class="container-xl mt-4">
  <div class="row">
    <div class="col-lg content">
      <div class="container pb-5">
        <div class="row pt-3 justify-content-start">
          @for (product of products; track product.id) {
            <div class="col-lg-3 col-6 mb-4">
              <div class="border rounded-3 overflow-hidden shadow">
                <a routerLink="/product/{{ product.slug }}" class="card-product position-relative text-decoration-none">
                  <div class="image overflow-hidden">
                    <div class="cover"></div>
                    <img ngSrc="{{ product.images }}" class="w-100" width="300" height="300" priority />
                  </div>
                  <div class="card-body">
                    <p class="fs-5 text-truncate">{{ product.nama }}</p>
                    <h4>{{ product.harga | currency: 'Rp ' }}</h4>
                    <div class="rating">
                      <span class="star">&#9733;</span>
                      {{ product.rating | number: '1.1-2' }}
                    </div>
                  </div>
                </a>
              </div>
            </div>
          }
        </div>
      </div>
    </div>
  </div>
</div>
