@import url('https://fonts.googleapis.com/css2?family=Playwrite+DK+Loopet:wght@100..400&display=swap');

.hero-bg .content {
  height: 86vh;
}

.hero-bg .overlay h1 {
  font-family: "Playwrite DK Loopet", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
}

.hero-bg img {
  margin-top: 1rem;
}

.hero-bg .overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
  height: inherit;
  z-index: 2;
}

.title-menu {
  border-bottom: 2px solid #0099ff;
  display: inline;
}

.banner-info {
  height: 300px;
}

.card-product {
  display: inline-block;
  color: black;
  width: 100%;
  background-color: #fff;
  box-sizing: border-box;
  transition: all ease-in-out;
  transition-duration: 300ms;
  height: 450px;
}

.card-product:hover {
  background-color: #f5f5f5;
}

.card-product .image {
  position: relative;
  height: 40vh;
}

.card-product .image img {
  width: 100%;
  height: 100%;
  background-size: cover;
  position: absolute;
  transition: all ease-in-out;
  transition-duration: 300ms;
}

.card-product .image .cover {
  transition: all ease-in-out;
  transition-duration: 300ms;
}

.card-product:hover .image img {
  transform: scale(1.2);
}

.card-product:hover .image .cover {
  position: absolute;
  z-index: 5;
  background-color: #e7e7e7;
  width: 100%;
  height: 40vh;
  opacity: .4;
}

.card-body {
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.rating {
  color: #dadada; /* Warna bintang */
}

.star {
  font-size: 1.5em;
}

.star.filled {
  color: #ffcc00; /* Warna bintang terisi */
}

footer {
  padding-top: 2rem;
  padding-bottom: 1rem;
}

footer ul li {
  list-style: none;
  margin-bottom: 10px;
}

footer a {
  text-decoration: none;
  color: #fff;
}

@media (max-width: 920px) {
  .hero-bg .content {
    height: 100vh;
  }

  .hero-bg img {
    margin-top: 0px;
  }

  .hero-bg .overlay {
    height: 100vh;
  }

  .event {
    margin-top: 5rem !important;
  }

  .card-product {
    height: 550px;
  }
}