<div class="container-xxl mt-4">
  <div class="row">
    <div class="col-lg-3 sidebar overflow-auto position-sticky vh-100">
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" [class.active]="activeSidebar === 'pakaian'" (click)="setActiveSidebar('pakaian')">
          Pakaian
          <span class="badge text-bg-primary rounded-pill">14</span>
        </a>
        <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" [class.active]="activeSidebar === 'makanan'" (click)="setActiveSidebar('makanan')">
          Makanan
          <span class="badge text-bg-primary rounded-pill">10</span>
        </a>
        <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" [class.active]="activeSidebar === 'minuman'" (click)="setActiveSidebar('minuman')">
          Minuman
          <span class="badge text-bg-primary rounded-pill">10</span>
        </a>
        <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" [class.active]="activeSidebar === 'detergen'" (click)="setActiveSidebar('detergen')">
          Detergen
          <span class="badge text-bg-primary rounded-pill">24</span>
        </a>
      </div>
    </div>
    <div class="col-lg-9 content">
      <div id="carouselIndicators" class="carousel slide px-4" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img ngSrc="assets/img/banner1.jpeg" class="d-block w-100 rounded-3" width="1000" height="400" priority>
          </div>
          <div class="carousel-item">
            <img ngSrc="assets/img/banner2.jpeg" class="d-block w-100 rounded-3" width="1000" height="400">
          </div>
          <div class="carousel-item">
            <img ngSrc="assets/img/banner3.jpeg" class="d-block w-100 rounded-3" width="1000" height="400">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselIndicators"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselIndicators"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <div class="container pb-5">
        <div class="text-center my-4">
          <h2 class="title-menu font-sans fw-bold mt-4">Promo Seru!</h2>
        </div>

        <div class="row pt-3 justify-content-start">
          <div class="col-lg-3 col-6 mb-4">
            <div class="border rounded-3 overflow-hidden shadow">
              <a routerLink="/product/tes" class="card-product position-relative text-decoration-none">
                <div class="image overflow-hidden">
                  <div class="cover"></div>
                  <img ngSrc="assets/img/baju_muslim1.jpg" class="w-100" width="300" height="200" priority>
                </div>
                <div class="card-body">
                  <p class="fs-5">Baju Muslim Keren & Kekinian</p>
                  <h4>Rp 17.000,00</h4>
                  <div class="rating">
                    @for (star of [1, 2, 3, 4, 5]; track star) {
                    <span class="star" [class.filled]="star <= 4">
                      &#9733;
                    </span>
                    }
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-6 mb-4">
            <div class="border rounded-3 overflow-hidden shadow">
              <a routerLink="/product/tes" class="card-product position-relative text-decoration-none">
                <div class="image overflow-hidden">
                  <div class="cover"></div>
                  <img ngSrc="assets/img/baju_muslim2.jpg" class="w-100" height="200" width="300">
                </div>
                <div class="card-body">
                  <p class="fs-5">Baju Koko Pria Beragam Ukuran S/M/L/XL/XXL</p>
                  <h4>Rp 17.000,00</h4>
                  <div class="rating">
                    @for (star of [1, 2, 3, 4, 5]; track star) {
                    <span class="star" [class.filled]="star <= 5">
                      &#9733;
                    </span>
                    }
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-6 mb-4">
            <div class="border rounded-3 overflow-hidden shadow">
              <a routerLink="/product/tes" class="card-product position-relative text-decoration-none">
                <div class="image overflow-hidden">
                  <div class="cover"></div>
                  <img ngSrc="assets/img/baju_muslim3.jpg" class="w-100" width="300" height="200">
                </div>
                <div class="card-body">
                  <p class="fs-5">Baju Muslim Premium</p>
                  <h4>Rp 17.000,00</h4>
                  <div class="rating">
                    @for (star of [1, 2, 3, 4, 5]; track star) {
                    <span class="star" [class.filled]="star <= 4">
                      &#9733;
                    </span>
                    }
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-6 mb-4">
            <div class="border rounded-3 overflow-hidden shadow">
              <a routerLink="/product/tes" class="card-product position-relative text-decoration-none">
                <div class="image overflow-hidden">
                  <div class="cover"></div>
                  <img ngSrc="assets/img/baju_muslim4.jpg" class="w-100" height="200" width="300">
                </div>
                <div class="card-body">
                  <p class="fs-5">Koko Pria Murah Berkualitas</p>
                  <h4>Rp 17.000,00</h4>
                  <div class="rating">
                    @for (star of [1, 2, 3, 4, 5]; track star) {
                    <span class="star" [class.filled]="star <= 5">
                      &#9733;
                    </span>
                    }
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>

        <div class="text-center my-4">
          <h2 class="title-menu font-sans fw-bold mt-4">Flash Sale!</h2>
        </div>

        <div class="row pt-3 justify-content-start">
          <div class="col-lg-3 col-6 mb-4">
            <div class="border rounded-3 overflow-hidden shadow">
              <a routerLink="/product/tes" class="card-product position-relative text-decoration-none">
                <div class="image overflow-hidden">
                  <div class="cover"></div>
                  <img ngSrc="assets/img/baju_muslim1.jpg" class="w-100" height="200" width="300">
                </div>
                <div class="card-body">
                  <p class="fs-5">Baju Muslim Keren & Kekinian</p>
                  <h4>Rp 17.000,00</h4>
                  <div class="rating">
                    @for (star of [1, 2, 3, 4, 5]; track star) {
                    <span class="star" [class.filled]="star <= 4">
                      &#9733;
                    </span>
                    }
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-6 mb-4">
            <div class="border rounded-3 overflow-hidden shadow">
              <a routerLink="/product/tes" class="card-product position-relative text-decoration-none">
                <div class="image overflow-hidden">
                  <div class="cover"></div>
                  <img ngSrc="assets/img/baju_muslim2.jpg" class="w-100" height="300" width="300">
                </div>
                <div class="card-body">
                  <p class="fs-5">Baju Koko Pria Beragam Ukuran S/M/L/XL/XXL</p>
                  <h4>Rp 17.000,00</h4>
                  <div class="rating">
                    @for (star of [1, 2, 3, 4, 5]; track star) {
                    <span class="star" [class.filled]="star <= 5">
                      &#9733;
                    </span>
                    }
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-6 mb-4">
            <div class="border rounded-3 overflow-hidden shadow">
              <a routerLink="/product/tes" class="card-product position-relative text-decoration-none">
                <div class="image overflow-hidden">
                  <div class="cover"></div>
                  <img ngSrc="assets/img/baju_muslim3.jpg" class="w-100" height="300" width="300">
                </div>
                <div class="card-body">
                  <p class="fs-5">Baju Muslim Premium</p>
                  <h4>Rp 17.000,00</h4>
                  <div class="rating">
                    @for (star of [1, 2, 3, 4, 5]; track star) {
                    <span class="star" [class.filled]="star <= 4">
                      &#9733;
                    </span>
                    }
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-6 mb-4">
            <div class="border rounded-3 overflow-hidden shadow">
              <a routerLink="/product/tes" class="card-product position-relative text-decoration-none">
                <div class="image overflow-hidden">
                  <div class="cover"></div>
                  <img ngSrc="assets/img/baju_muslim4.jpg" class="w-100" height="300" width="300">
                </div>
                <div class="card-body">
                  <p class="fs-5">Koko Pria Murah Berkualitas</p>
                  <h4>Rp 17.000,00</h4>
                  <div class="rating">
                    @for (star of [1, 2, 3, 4, 5]; track star) {
                    <span class="star" [class.filled]="star <= 5">
                      &#9733;
                    </span>
                    }
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-6 mb-4">
            <div class="border rounded-3 overflow-hidden shadow">
              <a routerLink="/product/tes" class="card-product position-relative text-decoration-none">
                <div class="image overflow-hidden">
                  <div class="cover"></div>
                  <img ngSrc="assets/img/baju_muslim1.jpg" class="w-100" height="300" width="300">
                </div>
                <div class="card-body">
                  <p class="fs-5">Baju Muslim Keren & Kekinian</p>
                  <h4>Rp 17.000,00</h4>
                  <div class="rating">
                    @for (star of [1, 2, 3, 4, 5]; track star) {
                    <span class="star" [class.filled]="star <= 4">
                      &#9733;
                    </span>
                    }
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-6 mb-4">
            <div class="border rounded-3 overflow-hidden shadow">
              <a routerLink="/product/tes" class="card-product position-relative text-decoration-none">
                <div class="image overflow-hidden">
                  <div class="cover"></div>
                  <img ngSrc="assets/img/baju_muslim2.jpg" class="w-100" height="300" width="300">
                </div>
                <div class="card-body">
                  <p class="fs-5">Baju Koko Pria Beragam Ukuran S/M/L/XL/XXL</p>
                  <h4>Rp 17.000,00</h4>
                  <div class="rating">
                    @for (star of [1, 2, 3, 4, 5]; track star) {
                    <span class="star" [class.filled]="star <= 5">
                      &#9733;
                    </span>
                    }
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-6 mb-4">
            <div class="border rounded-3 overflow-hidden shadow">
              <a routerLink="/product/tes" class="card-product position-relative text-decoration-none">
                <div class="image overflow-hidden">
                  <div class="cover"></div>
                  <img ngSrc="assets/img/baju_muslim3.jpg" class="w-100" height="300" width="300">
                </div>
                <div class="card-body">
                  <p class="fs-5">Baju Muslim Premium</p>
                  <h4>Rp 17.000,00</h4>
                  <div class="rating">
                    @for (star of [1, 2, 3, 4, 5]; track star) {
                    <span class="star" [class.filled]="star <= 4">
                      &#9733;
                    </span>
                    }
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-6 mb-4">
            <div class="border rounded-3 overflow-hidden shadow">
              <a routerLink="/product/tes" class="card-product position-relative text-decoration-none">
                <div class="image overflow-hidden">
                  <div class="cover"></div>
                  <img ngSrc="assets/img/baju_muslim4.jpg" class="w-100" height="300" width="300">
                </div>
                <div class="card-body">
                  <p class="fs-5">Koko Pria Murah Berkualitas</p>
                  <h4>Rp 17.000,00</h4>
                  <div class="rating">
                    @for (star of [1, 2, 3, 4, 5]; track star) {
                    <span class="star" [class.filled]="star <= 5">
                      &#9733;
                    </span>
                    }
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>

        <div class="text-center my-4">
          <h2 class="title-menu font-sans fw-bold mt-4">Diskon sampai 40%!</h2>
        </div>

        <div class="row pt-3 justify-content-start">
          <div class="col-lg-3 col-6 mb-4">
            <div class="border rounded-3 overflow-hidden shadow">
              <a routerLink="/product/tes" class="card-product position-relative text-decoration-none">
                <div class="image overflow-hidden">
                  <div class="cover"></div>
                  <img ngSrc="assets/img/baju_muslim1.jpg" class="w-100" width="300" height="300">
                </div>
                <div class="card-body">
                  <p class="fs-5">Baju Muslim Keren & Kekinian</p>
                  <h4>Rp 17.000,00</h4>
                  <div class="rating">
                    @for (star of [1, 2, 3, 4, 5]; track star) {
                    <span class="star" [class.filled]="star <= 4">
                      &#9733;
                    </span>
                    }
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-6 mb-4">
            <div class="border rounded-3 overflow-hidden shadow">
              <a routerLink="/product/tes" class="card-product position-relative text-decoration-none">
                <div class="image overflow-hidden">
                  <div class="cover"></div>
                  <img ngSrc="assets/img/baju_muslim2.jpg" class="w-100" height="300" width="300">
                </div>
                <div class="card-body">
                  <p class="fs-5">Baju Koko Pria Beragam Ukuran S/M/L/XL/XXL</p>
                  <h4>Rp 17.000,00</h4>
                  <div class="rating">
                    @for (star of [1, 2, 3, 4, 5]; track star) {
                    <span class="star" [class.filled]="star <= 5">
                      &#9733;
                    </span>
                    }
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-6 mb-4">
            <div class="border rounded-3 overflow-hidden shadow">
              <a routerLink="/product/tes" class="card-product position-relative text-decoration-none">
                <div class="image overflow-hidden">
                  <div class="cover"></div>
                  <img ngSrc="assets/img/baju_muslim3.jpg" class="w-100" height="300" width="300">
                </div>
                <div class="card-body">
                  <p class="fs-5">Baju Muslim Premium</p>
                  <h4>Rp 17.000,00</h4>
                  <div class="rating">
                    @for (star of [1, 2, 3, 4, 5]; track star) {
                    <span class="star" [class.filled]="star <= 4">
                      &#9733;
                    </span>
                    }
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-6 mb-4">
            <div class="border rounded-3 overflow-hidden shadow">
              <a routerLink="/product/tes" class="card-product position-relative text-decoration-none">
                <div class="image overflow-hidden">
                  <div class="cover"></div>
                  <img ngSrc="assets/img/baju_muslim4.jpg" class="w-100" height="300" width="300">
                </div>
                <div class="card-body">
                  <p class="fs-5">Koko Pria Murah Berkualitas</p>
                  <h4>Rp 17.000,00</h4>
                  <div class="rating">
                    @for (star of [1, 2, 3, 4, 5]; track star) {
                    <span class="star" [class.filled]="star <= 5">
                      &#9733;
                    </span>
                    }
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-6 mb-4">
            <div class="border rounded-3 overflow-hidden shadow">
              <a routerLink="/product/tes" class="card-product position-relative text-decoration-none">
                <div class="image overflow-hidden">
                  <div class="cover"></div>
                  <img ngSrc="assets/img/baju_muslim1.jpg" class="w-100" height="300" width="300">
                </div>
                <div class="card-body">
                  <p class="fs-5">Baju Muslim Keren & Kekinian</p>
                  <h4>Rp 17.000,00</h4>
                  <div class="rating">
                    @for (star of [1, 2, 3, 4, 5]; track star) {
                    <span class="star" [class.filled]="star <= 4">
                      &#9733;
                    </span>
                    }
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-6 mb-4">
            <div class="border rounded-3 overflow-hidden shadow">
              <a routerLink="/product/tes" class="card-product position-relative text-decoration-none">
                <div class="image overflow-hidden">
                  <div class="cover"></div>
                  <img ngSrc="assets/img/baju_muslim2.jpg" class="w-100" height="300" width="300">
                </div>
                <div class="card-body">
                  <p class="fs-5">Baju Koko Pria Beragam Ukuran S/M/L/XL/XXL</p>
                  <h4>Rp 17.000,00</h4>
                  <div class="rating">
                    @for (star of [1, 2, 3, 4, 5]; track star) {
                    <span class="star" [class.filled]="star <= 5">
                      &#9733;
                    </span>
                    }
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-6 mb-4">
            <div class="border rounded-3 overflow-hidden shadow">
              <a routerLink="/product/tes" class="card-product position-relative text-decoration-none">
                <div class="image overflow-hidden">
                  <div class="cover"></div>
                  <img ngSrc="assets/img/baju_muslim3.jpg" class="w-100" height="300" width="300">
                </div>
                <div class="card-body">
                  <p class="fs-5">Baju Muslim Premium</p>
                  <h4>Rp 17.000,00</h4>
                  <div class="rating">
                    @for (star of [1, 2, 3, 4, 5]; track star) {
                    <span class="star" [class.filled]="star <= 4">
                      &#9733;
                    </span>
                    }
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-6 mb-4">
            <div class="border rounded-3 overflow-hidden shadow">
              <a routerLink="/product/tes" class="card-product position-relative text-decoration-none">
                <div class="image overflow-hidden">
                  <div class="cover"></div>
                  <img ngSrc="assets/img/baju_muslim4.jpg" class="w-100" height="300" width="300">
                </div>
                <div class="card-body">
                  <p class="fs-5">Koko Pria Murah Berkualitas</p>
                  <h4>Rp 17.000,00</h4>
                  <div class="rating">
                    @for (star of [1, 2, 3, 4, 5]; track star) {
                    <span class="star" [class.filled]="star <= 5">
                      &#9733;
                    </span>
                    }
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer />