.sidebar input,
.sidebar label {
  cursor: pointer;
}

.main-layout {
  display: flex;
  width: 100%;
  overflow-y: auto;
}

.carousel-item img {
  width: 1000px;
  height: 428px;
}

.kategori-menu a:hover {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  transition: all 0.3s;
}

.marker {
  display: inline-block;
  width: 15px;
  height: 25px;
}

.card-product {
  color: black;
  width: 100%;
  background-color: #fff;
  box-sizing: border-box;
  transition: all ease-in-out 300ms;
  overflow: hidden;
}

.card-product .image {
  height: 300px;
  position: relative;
  overflow: hidden;
}

.card-product .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all ease-in-out 300ms;
}

.card-product .image .cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  z-index: 5;
  transition: opacity 300ms ease-in-out;
}

.card-product:hover .image img {
  transform: scale(1.1);
}

.card-product:hover .image .cover {
  opacity: 1;
}

.card-product .text-truncate {
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
}

.card-body {
  position: relative;
  z-index: 99;
  padding: 15px;
  background-color: transparent;
}

.rating .star {
  font-size: 20px;
  color: #ffcc00;
}

@media (max-width: 920px) {
  .sidebar {
    display: none;
  }

  .carousel-item img {
    width: 1000px;
    height: 228px;
  }

  .card-body p {
    font-size: 16px;
  }

  .card-body h4 {
    font-size: 20px;
  }
}
