@import url('https://fonts.googleapis.com/css2?family=Playwrite+DK+Loopet:wght@100..400&display=swap');

nav {
  position: fixed;
  z-index: 99;
  top: 0;
  height: 110px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  padding-bottom: 5px;
}

nav a.logo {
  font-family: "Playwrite DK Loopet", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

nav .preferensi a {
  transition: all .3s;
  padding: 5px 10px 8px 10px;
}

nav .preferensi a:hover {
  background-color: #cfcfcf;
}

nav .preferensi {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

nav .navbar-brand button {
  display: none;
}

nav .category {
  order: 3;
  margin-top: 15px;
}

nav .category ul {
  list-style-type: none;
  margin-bottom: 5px;
}

nav .category a {
  text-decoration: none;
  color: black;
  padding: 10px 30px 10px 30px;
}

nav .category a:hover {
  background-color: #cfcfcf;
}

.showLogin {
  display: none;
}

@media (max-width: 920px) {
  nav {
    padding-top: 5px;
    height: 55px !important;
    overflow: hidden;
    transition: all ease-in-out .3s;
  }

  nav.active {
    height: 400px !important;
  }

  nav .search {
    margin-top: 10px;
  }

  nav .navbar-brand {
    display: flex;
    justify-content: space-between;
  }

  nav .navbar-brand button {
    display: block;
  }

  nav .navbar-brand button span {
    width: 30px;
    height: 3px;
    background-color: black;
    display: block;
    transition: all .3s;
    transform-origin: left;
  }

  nav .navbar-brand button span:first-child {
    margin-bottom: 8px;
  }

  nav .navbar-brand button.active span:first-child {
    transform: rotate(45deg);
  }
  
  nav .navbar-brand button span:last-child {
    margin-top: 8px;
  }
  
  nav .navbar-brand button.active span:last-child {
    transform: rotate(-45deg);
  }

  nav .navbar-brand button.active span:nth-child(2) {
    transform: scale(0);
  }

  nav .preferensi {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
  }

  nav .category {
    order: unset;
    width: 100%;
  }

  nav .category ul {
    flex-direction: column;
    width: 100%;
    padding-left: 0px;
  }

  nav .category li {
    width: 100%;
  }

  nav .category a {
    width: 100%;
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px 0 10px 10px;
    border-radius: 10px;
  }

  nav .category a:hover {
    background-color: #cfcfcf;
  }
}