<footer class="bg-dark w-100">
  <div class="container h-100 w-100">
    <div class="row h-100 justify-content-evenly align-items-center m-auto">
      <div class="col-3">
        <ul>
          <li><a href="#">Beranda</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Tentang Kami</a></li>
          <li><a href="#">Kontak Kami</a></li>
        </ul>
      </div>
      <div class="col-3">
        <ul>
          <li><a href="#">Berita</a></li>
          <li><a href="#">Tanya Jawab</a></li>
          <li><a href="#">Testimoni</a></li>
          <li><a href="#">Syarat & Ketentuan</a></li>
        </ul>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-1 text-center fs-2">
        <a href="#"><i class="bi bi-instagram"></i></a>
      </div>
      <div class="col-1 text-center fs-2">
        <a href="#"><i class="bi bi-facebook"></i></a>
      </div>
      <div class="col-1 text-center fs-2">
        <a href="#"><i class="bi bi-twitter"></i></a>
      </div>
      <p class="fs-6 text-center mt-3 text-white">Copyright©2025 by Yasin A.H.</p>
    </div>
  </div>
</footer>