footer {
  padding-top: 2rem;
  padding-bottom: 1rem;
}

footer.pushed {
  margin-left: 250px;
}

footer ul li {
  list-style: none;
  margin-bottom: 10px;
}

footer a {
  text-decoration: none;
  color: #fff;
}
