<div class="overlay" *ngIf="isLoading | async">
  <div class="loading">
    <span class="loader"></span>
    <p class="fs-3">Mohon Tunggu...</p>
  </div>
</div>
<div *ngIf="errors else no_error">
  <div class="container-fluid">
    <div class="row justify-content-center align-items-center" style="height: 100vh;">
      <div class="col-lg text-center">
        <h1>500</h1>
        <p class="fs-2">Internal Server Error</p>
      </div>
    </div>
  </div>
</div>

<ng-template #no_error>
  <app-category></app-category>
  <router-outlet></router-outlet>
</ng-template>