@if (isLoading | async) {
  <div class="overlay">
    <div class="loading">
      <span class="loader"></span>
      <p class="fs-3">Mohon Tunggu...</p>
    </div>
  </div>
}
<!-- @if (errors) {
  <div>
    <div class="container-fluid">
      <div class="row justify-content-center align-items-center" style="height: 100vh;">
        <div class="col-lg text-center">
          <h1>Upss maaf...</h1>
          <p class="fs-2">Server sedang dalam perbaikan</p>
        </div>
      </div>
    </div>
  </div>
} @else { -->
<router-outlet />
<!-- } -->
